__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env/
.vscode/
.DS_Store
*.egg
*.egg-info/
dist/
build/
.ipynb_checkpoints
credentials.json
.cache/
.coverage
*.cover
htmlcov/
*.log
*.sqlite3
*.crdownload
token.pickle
scraper_test
